{% extends 'main.htm' %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<link href="{% static 'css/profile.css'%}" rel="stylesheet" />
<div class="pt-5 mb-5">
  <center>
    <img
      src="{{user.profile.image.url}}"
      class="rounded-circle account-img"
      style="height: 100px; width: 100px"
    />
    <div class="media-body">
      <div class="account-heading">{{user.username}}</div>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </center>
</div>
<div class="w-100 bg-white p-5">
  <form class="form-group row">
    {% for post in posts %}
    <div class="col-6">
      <div class="card w-100 p-4">
        <div class="form-group row">
          <div class="col-6">
            <h5>{{post.author}}</h5>
            <p class="card-subtitle text-muted">{{post.date_posted}}</p>
          </div>
        </div>

        <hr />
        <a href="{% url 'post-detail' post.id %}">
          <img class="card-img-top" src="{{post.image.url}}" width="100%" />
        </a>
        <hr />
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </form>
</div>

{% endblock content %}
