{% extends 'main.htm' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-3">
    <div class="card">
      <img class="thumbnail card " src="{{product.image.url}}" />
    </div>
  </div>
  <div class="col-9 float-left">
    <h2><strong>{{product.name}}</strong></h2>
    <h5 class="price">
      <strong>${{product.price}}</strong>
    </h5>
    <hr class="float-left hrProductDetail" />
    <br />
    <br />
    <button
      data-product="{{product.id}}"
      data-action="add"
      class="btn btn-outline-secondary add-btn update-cart btn-lg"
    >
      Add to Cart
    </button>
  </div>
</div>
{% endblock content %}
